__pycache__/
*.pyc

unidot_history.txt
unidot_memory.txt
unidot_summary.txt
unidot_learning.txt
unidot_games.txt
unidot_places.txt

unidot_neural_training.json

tempCodeRunnerFile.py
.env
.venv/
venv/
*.log
UniDot_1_3_Web/
